
        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
            color: black;
            font-family: 'Roboto', 'Noto Sans KR', Noto Sans KR, sans-serif;
        }

        article {
            width: 1500px;
            height: 1000px;
            margin: 0 auto;
            padding: 0 auto;
        }

        .dino_product {
            width: 1300px;
            height: 400px;
            margin: 0 0 0 100px;

        }

        .dino_product2 {
            width: 1300px;
            height: 400px;
            margin: 0px 0 0 100px
        }

        .dino_box {
            width: 250px;
            height: 400px;
            float: left;
            margin: 0 0 0 60px;
            text-align: center;
        }


        .dino_box>h5 {
            margin: 10px auto;
        }

        .dino_box>h5>a {
            font-size: 15px;
        }

        .dino_img>a>img {
            width: 250px;
            height: 250px;
            transition: all 0.15s linear;
        }

        .dino_img {
            overflow: hidden;
        }

        .dino_img>a:hover>img {
            transform: scale(1.2);
        }

        .dino_box2 {
            width: 250px;
            height: 400px;
            float: left;
            margin: 0 0 0 60px;
            text-align: center;
        }

        .dino_box2>h5 {
            margin: 10px auto;
        }

        .dino_box2>h5>a {
            font-size: 15px;
        }

        .dino_img2 {
            overflow: hidden;
        }

        .dino_img2>a>img {
            width: 250px;
            height: 250px;
            transition: all 0.15s linear;
        }


        .dino_img2>a:hover>img {
            transform: scale(1.2);
        }